<nav class="navbar navbar-expand-sm perch-navbar">
	<div class="bodyContainer">
		<div class="row">
			<div class="col-12">
				<ul class="nav navbar-nav ml-auto d-flex justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link guruji-header-link" [routerLinkActive]="['active']" routerLink="{{ appRoutes.HOME }}">SALES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link guruji-header-link" [routerLinkActive]="['active']" routerLink="{{ appRoutes.BUY }}">RENTALS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link guruji-header-link" [routerLinkActive]="['active']" routerLink="{{ appRoutes.SELL }}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link guruji-header-link" [routerLinkActive]="['active']" routerLink="{{ appRoutes.RENT }}">TEAM</a>
					</li>
					<li class="nav-item">
                        <a class="nav-link guruji-header-link" [routerLinkActive]="['active']" routerLink="{{ appRoutes.RENT }}">CONTACT US</a>
					</li>		
				</ul>
			</div>
        </div>
	</div>

</nav>
